<p id="notice"><%= notice %></p>

<h1>Public Posts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @public_posts.each do |public_post| %>
      <tr>
        <td><%= link_to 'Show', public_post %></td>
        <td><%= link_to 'Edit', edit_public_post_path(public_post) %></td>
        <td><%= link_to 'Destroy', public_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Public Post', new_public_post_path %>
